<div id="back">
  <canvas id="canvas" class="canvas-back"></canvas>
  <div class="backRight">
  </div>
  <div class="backLeft">
  </div>
</div>

<div id="slideBox">
  <div class="topLayer">
    <div class="left">
      <div class="content">

      </div>
    </div>

    <div class="right">
      <div class="content">
        <h2>Login</h2>
        <form id="form-login" method="post" onsubmit="return false;">
          <div class="form-element form-stack">
            <label for="username-login" class="form-label">Username</label>
            <input type="text" id="usuarioAdmin" name="usuario" #usuario= "ngModel" [(ngModel)]="usuarioModel.nombre"  placeholder="Ingrese Usuario" >
          </div>
          <div class="form-element form-stack">
            <label for="password-login" class="form-label">Password</label>
            <input id="password-login" type="password" name="password" #password= "ngModel" [(ngModel)]="usuarioModel.password">
          </div>

          <div class="form-element form-submit">
            <button id="logIn" class="login" type="submit" type="button" name="login" type="submit" (click)="login()">Log In</button>

          </div>
        </form>
      </div>
    </div>
  </div>
</div>
